src/
.storybook/
docs/
scripts/
*.test.ts
*.test.tsx
*.stories.tsx
*.spec.ts
*.spec.tsx
test-utils/
coverage/
node_modules/
.eslintcache
tsconfig.json
vite.config.ts
vitest.config.ts
.editorconfig
.prettierrc
